
input {
   display: inline;
  background-image: url(img/search-solid.svg);
    background-position: 25px 10px;
    background-size: 20px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 30px 0 20px 10px;
    color: black;
    background-color: transparent;
    border: 1px solid #f8f9fa;
    border-radius: 10px;
    padding: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    box-shadow: 4px 4px 2px #bfbfbf;
  
  }
  input:hover {
    width: 50%;
  }
  
  input:focus {
    outline: none;
    width: 100%;
    background-color: white;
  }

  #location-button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    box-shadow: 4px 4px 2px #bfbfbf;
    margin: 30px 0 20px 10px;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 10px;
    color: #f8f9fa;
    border-color: #f8f9fa;
  }

  #location-button:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }

section.update {
    display: block;
    text-align: right;
    padding: 0px;
  }

hr.top {
  margin-bottom: 0%;
  border: 2px solid;
  border-radius: 5px;
}

hr.bottom{
  margin-top: 0%;
  border: 2px solid;
  border-radius: 5px;
}
